:root {
    --cinzinha: #626262;
    --branco: #FFFFFF;
    --cor-5: #2FAC66;
}

.navBar {
    height: 100px;
    background-color: #262625;
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.40);
}

.navBar img {
    justify-self: start;
    width: 223.636px;
    height: 60px;
    margin-left: 20px;
}

.navBar ul {
    justify-self: end;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-right: 20px;
    margin: inherit;
}

.navBar ul li {
    margin: 0% 10px;
}

.barItem {
    text-decoration: none;
    color: var(--branco);
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#buscar {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--cinzinha);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#loginBtn {
    width: 179px;
    height: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 8px 39px;
    border-radius: 15px;
    border: none;
    color: var(--branco);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.50);
    background: rgb(47, 172, 102);
    background: linear-gradient(133deg,
            rgba(47, 172, 102, 1) 0%,
            rgba(41, 35, 92, 1) 50%,
            rgba(41, 35, 92, 1) 61%,
            rgba(47, 172, 102, 1) 100%);
    color: var(--branco);

    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slides {
    position: relative;
    width:100%;
}

.slideItem {
    width: 100%;
    border: 1px solid var(--cor-5);
    background: lightgray 50% / cover no-repeat;
}

.conteudo {
    align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.pagina {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    margin-bottom: var(--spacing-scale-4x);
    top: 0;
    width: 100%;
}

.divTexto {
    width: 100%;
    position: absolute;
}

.texto {
    position: relative;
    margin-right: 160px;
    color: var(--branco);
    text-align: right;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: end;
    text-overflow: ellipsis;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.botaoGeral {
    width: 197px;
    height: 60px;
    border-radius: 13px;
    border: 1px solid var(--cor-5);
    background: #12A19A;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.50);

    color: var(--branco);

    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mudarDiv {
    width: 100%;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -6%;
}

.circulo {
    background: none;
    border: 2px solid var(--cor-5);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 14px;
}

.metas {
    display: flex;
    flex-direction: column;
    align-items: center;
}