header{
  width: 90%;
}

header nav a {
  align-items: center;
  background-color: rgb(0, 11, 128);
  border-radius: 2rem;
  color: white;
}


img{
  width: 150px;
}

main{
  display: flex;
  flex-direction: column;
}

section{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



