    @import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,400&family=Poppins:wght@400;600&display=swap");

body {
    background-color: #F2E2C4;
    color: #313759;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    color: #59121F;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: x-large;
}

ul, li {
    color: #313759;
    font-size: 18px;
    margin: 15px; 
}

#icon {
    width: 60px;
    height: 60px;
    position: relative; 
    left: 15px;
}
#estrelas{
    width: 100px;
    height: 100px;
    position: relative; 
}

#pudim{
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
}

#despertador{
    width: 50px;
    height: 50px;
    position: relative; 
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table img {
    width: 10px;
    height: 10px;
}

<<<<<<< HEAD
main img {
    width: 50px;
    height: 50px;
}

main ul {
    list-style-type: disc;
    margin-left: 20px;
}

main table {
    margin: 10px 0;
}

=======
>>>>>>> dce6163e6440ab0a4d31e6e994bc9350c2046487
footer img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: #313759;
}
